<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div ng-if="loader">
        <div class="loader">
        </div>
    </div>
    <section class="content-header">
        <h1>
            Doctors
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li class="">Doctors</li>
            <li class="active">All Doctors</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <ul class="team-list list-unstyled doc-list">
                <li class="col-sm-6 col-md-4">
                    <div class="pad15">
                        <div class="thumb icons-effect margin-bottom-15">
                            <img alt="" src="assets/img/doctor-img1.jpg" class="img-responsive img-rounded">
                            <div class="mask img-rounded">
                                <div class="icons-wrapper">
                                    <div class="icons">
                                        <a class="icon">
                                            <span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-red"></i> <i class="fa fa-pencil fa-stack-1x fa-inverse"></i> </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class='name-color'>Dr. Kim Logan</h3>

                        <div class="text-small margin-bottom-5">
                            Orthopedics
                        </div>
                        <div class="team-member-description">
                            <p class="text-dark">
                                Many athletes depend on their feet and ankles during their competition and for these injuries to heal properly, special care and attention must be paid. Depending on the injury, I provide care for foot and ankle injuries and disorders using the appropriate treatment.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="col-xs-6 col-md-4">
                    <div class="pad15">
                        <div class="thumb icons-effect margin-bottom-15">
                            <img alt="" src="assets/img/doctor-img2.jpg" class="img-responsive img-rounded">
                            <div class="mask img-rounded">
                                <div class="icons-wrapper">
                                    <div class="icons">
                                        <a class="icon">
                                            <span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-red"></i> <i class="fa fa-pencil fa-stack-1x fa-inverse"></i> </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class='name-color'>Dr. Caroline Garrett</h3>
                        <div class="text-small margin-bottom-5">
                            Surgeon
                        </div>
                        <div class="team-member-description">
                            <p class="text-dark">
                                Physicians and surgeons diagnose and treat injuries or illnesses. Physicians examine clients; take medical histories; prescribe medications; and order, perform, and interpret diagnostic tests. They often counsel clients on diet, hygiene, and preventive healthcare.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="col-xs-6 col-md-4">
                    <div class="pad15">
                        <div class="thumb icons-effect margin-bottom-15">
                            <img alt="" src="assets/img/doctor-img4.jpg" class="img-responsive img-rounded">
                            <div class="mask img-rounded">
                                <div class="icons-wrapper">
                                    <div class="icons">
                                        <a class="icon">
                                            <span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-red"></i> <i class="fa fa-pencil fa-stack-1x fa-inverse"></i> </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class='name-color'>Dr. Wilbert Thomas</h3>
                        <div class="text-small margin-bottom-5">
                            Neurosurgery
                        </div>
                        <div class="team-member-description">
                            <p class="text-dark">
                                Neurosurgery focuses on the central, peripheral and autonomic nervous systems. Practitioners diagnose problems through physical examination with the aid of such tools as MRI, CT scans and laboratory tests and frequently provide surgical treatment. 
                            </p>
                        </div>
                    </div>
                </li>
                <li class="col-xs-6 col-md-4">
                    <div class="pad15">
                        <div class="thumb icons-effect margin-bottom-15">
                            <img alt="" src="assets/img/doctor-img5.jpg" class="img-responsive img-rounded">
                            <div class="mask img-rounded">
                                <div class="icons-wrapper">
                                    <div class="icons">
                                        <a class="icon">
                                            <span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-red"></i> <i class="fa fa-pencil fa-stack-1x fa-inverse"></i> </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class='name-color'>Dr. Cart</h3>
                        <div class="text-small margin-bottom-5">
                            Neurology
                        </div>
                        <div class="team-member-description">
                            <p class="text-dark">
                                Over the next few years it is the intention of the Neurology Expert Reference Group (ERG) to co-ordinate further developments of these profiles to include a greater number of neurological conditions with relevant and detailed pathways, illustrating the actual and potential levels.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="col-xs-6 col-md-4">
                    <div class="pad15">
                        <div class="thumb icons-effect margin-bottom-15">
                            <img alt="" src="assets/img/doctor-img6.jpg" class="img-responsive img-rounded">
                            <div class="mask img-rounded">
                                <div class="icons-wrapper">
                                    <div class="icons">
                                        <a class="icon">
                                            <span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-red"></i> <i class="fa fa-pencil fa-stack-1x fa-inverse"></i> </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class='name-color'>Dr. Micheal Hanson</h3>
                        <div class="text-small margin-bottom-5">
                            Neurology
                        </div>
                        <div class="team-member-description">
                            <p class="text-dark">
                                These system profiling tools are available to all. They are primarily intended to provide better access to data and information to support people involved in commissioning, planning and providing services locally. The tools bring together a wide range of publicly.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="col-xs-6 col-md-4">
                    <div class="pad15">
                        <div class="thumb icons-effect margin-bottom-15">
                            <img alt="" src="assets/img/doctor-img3.jpg" class="img-responsive img-rounded">
                            <div class="mask img-rounded">
                                <div class="icons-wrapper">
                                    <div class="icons">
                                        <a class="icon">
                                            <span class="fa-stack fa-2x"> <i class="fa fa-circle fa-stack-2x text-red"></i> <i class="fa fa-pencil fa-stack-1x fa-inverse"></i> </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class='name-color'>Dr. Carri Busey</h3>
                        <div class="text-small margin-bottom-5">
                            Orthopedics
                        </div>
                        <div class="team-member-description">
                            <p class="text-dark">
                                Orthopedic surgeons operate on clients with musculoskeletal problems, including arm, leg, neck, bone and tissue ailments. Orthopedic disorders and conditions may range from congenital deformities to musculoskeletal injuries, trauma and tumors. These surgeons perform operations. 
                                Orthopedic surgeons operate on clients with musculoskeletal problems, including arm, leg, neck, bone and tissue ailments. Orthopedic disorders and conditions may range from congenital deformities to musculoskeletal injuries, trauma and tumors. These surgeons perform operations. 
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>