<div>

    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>LT</b> Care</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg"><b> Enter your e-mail address below to retrieve your username.</b></p>
            <form>
                <div class="form-group has-feedback">
                    <input type="email" ng-model="Email" class="form-control" name="Email" placeholder="Email">
                </div>
                <div class="form-group has-feedback">

                    <button type="submit" ng-click="sendEmail()" class="btn btn-primary btn-block btn-flat">
                        Submit
                    </button>
                </div>
                <a href="/#/">GoToLogin</a>
            </form>
        </div>
    </div>
</div>