<section class="content" ng-controller="refundCtrl">
    <div ng-if="loader">
        <div class="loader">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3" id="payerText">
            <div class="form-control">
                <input type="text" placeholder="Search" ng-model="searchRefundPatient" ng-keypress="($event.which === 13) ? refundDetails(startRefund, endRefund, searchRefundPatient) : 0"></input>
            </div>
        </div>
        <div class="dpMain col-sm-6">
            <div class="form-control">
                <div class="dpMain">
                    <div class="start-date financeClients_date">
                        <input type="text" id="startRefund" ng-focus="startOpened = true; endOpened = false;" ng-click="startOpen($event)" show-button-bar="false" close-text="Close" ng-required="true" m ax-date="end" min-date="'1970-12-31'" is-open="startOpened" show-weeks="false" ng-model="startRefund" uib-datepicker-popup="MM/dd/yyyy" placeholder="Start date...">
                    </div>
                    <div class="todate">
                        <span class="input-group-addon">To</span>
                    </div>
                    <div class="end-date financeClients_date">
                        <input type="text" id="endRefund" ng-focus="endOpened = true; startOpened = false" ng-click="endOpen($event)" close-text="Close" ng-required="true" max-date="maxDate" show-button-bar="false" min-date="start" is-open="endOpened" show-weeks="false" ng-model="endRefund" uib-datepicker-popup="MM/dd/yyyy" placeholder="End date...">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-2 col-xs-2 search-count">
            <button type="button" class="btn btn-primary" ng-click="refundDetails(startRefund, endRefund, searchRefundPatient)">Search</button>
            <span  class="search-textmsg">{{refundCount}}</span>
            <button  type="button" name="clear" class="btn btn-primary clear-margin" ng-click="startRefund = null; endRefund = null; searchRefundPatient = null; refundDetails('', '', '')">Clear</button>
        </div>
    </div>
    <div class="row" ng-show="noRefundDetailsFound">
        <div class="col-xs-12">
            <h4 class="noResult">No results found.</h4>
        </div>
    </div>
    <div class="row" ng-show="RefundDetailsFound">
        <div class="col-xs-12 table-responsive">
            <table ng-table="refundDetailsDataTableConfig" class="table table-striped">
                <tr ng-repeat="refund in $data">
                    <td data-title="'Payer Name'" sortable="'PayerName'">                                                                      {{refund.PayerName}}
                    </td>
                    <td data-title="'Cash Receipt Date'" sortable="'CashReceiptDate'">                                                           {{refund.CashReceiptDate| date:'MM/dd/yyyy'}}
                    </td>
                    <td data-title="'Reference'" sortable="'Reference'">                                                                      {{refund.Reference}}
                    </td>
                    <td data-title="'Cash Receipt Amount'" sortable="'CashReceiptAmount'">                                                                      {{refund.CashReceiptAmount}}
                    </td>
                    <td data-title="'Notes'" sortable="'Notes'">                                                           {{refund.Notes}}
                    </td>
                    <td data-title="'CreatedOn'" sortable="'CreatedOn'">                                                                      {{refund.CreatedOn| date:'MM/dd/yyyy'}}
                    </td>
                    <td data-title="'Distributed Amount'" sortable="'DistributedAmount'">                                                                      {{refund.DistributedAmount}}
                    </td>
                    <td data-title="'Credit GLAccount Name'" sortable="'CreditGLAccountName'">                                                                      {{refund.CreditGLAccountName}}
                    </td>
                    <td data-title="'Adjustment GLAccount Name'" sortable="'AdjustmentGLAccountName'">                                                                      {{refund.AdjustmentGLAccountName}}
                    </td>
                    <td data-title="'Source System'" sortable="'DBName'">                                                                      {{refund.DBName}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>