<div ng-controller='changePasswordCtrl'>
    <form  method="post"  name="ChangePwdForm">
        <div class="form-group" ng-class="{'has-error':ChangePwdForm.oldPassword.$dirty && ChangePwdForm.oldPassword.$invalid, 'has-success':ChangePwdForm.oldPassword.$valid}" >
            <label class="control-label">Old Password <span class="symbol required"></span> </label>
            <input type="password" placeholder="Enter a Password" class="form-control" name="oldPassword" ng-model="myModel2.oldPassword" required ng-blur="Checkpassword(myModel2.oldPassword)" />

            <span class="text-small2 error1" ng-if="IncorrectPassword1" >Password is Incorrect</span>
            <span class="success1 text-small2 block "  ng-show="PasswordTagOk">Thank You!</span>
            <span class="text-small2 error1 "  ng-show="PasswordTagNull">Password is required!</span>
            <span class="text-small2 error1 "  ng-show="PasswordTagNotok">Password must contain One Capital Letter,One Special Character,One Digit and Minimum 6 Letters.</span>
        </div>

        <div class="form-group" ng-class="{'has-error':ChangePwdForm.changePassword.$dirty && ChangePwdForm.changePassword.$invalid, 'has-success':ChangePwdForm.changePassword.$valid}" >
            <label class="control-label">New Password <span class="symbol required"></span> </label>
            <input type="password" placeholder="Enter a Password" class="form-control" name="changePassword" ng-model="myModel2.changePassword" required />
            <span class="error text-small1 block" ng-if="ChangePwdForm.changePassword.$dirty
                                    && ChangePwdForm.changePassword.$error.required">Password is required.</span>
            <span class="success text-small1 block" ng-if="ChangePwdForm.changePassword.$valid">Thank You!  !</span>
        </div>                       

        <div class="form-group" ng-class="{'has-error':ChangePwdForm.changePasswordConfirm.$dirty
                            && ChangePwdForm.changePasswordConfirm.$error.compareTo || ChangePwdForm.changePasswordConfirm.$dirty && ChangePwdForm.changePasswordConfirm.$invalid, 'has-success':ChangePwdForm.changePasswordConfirm.$valid}" ng-hide="hidePassword">
            <label class="control-label"> Confirm Password <span class="symbol required"></span> </label>
            <input type="password" placeholder="Repeat Password" class="form-control" name="changePasswordConfirm" ng-model="myModel2.changePasswordConfirm"  compare-to="myModel2.changePassword" required />
            <span class="error1 text-small1 block" ng-if="ChangePwdForm.changePasswordConfirm.$dirty
                                    && ChangePwdForm.changePasswordConfirm.$error.required">Confirm password is required!</span>
            <span class="error1 text-small1 block" ng-show="myModel2.changePassword != myModel2.changePasswordConfirm">Passwords do not match!</span>
            <span class="success text-small1 block" ng-show="ChangePwdForm.changePasswordConfirm.$valid && (myModel2.changePassword == myModel2.changePasswordConfirm)">Passwords match!</span>
        </div>

        <div class="text-left">
            <button type="submit" ng-click="postNewPassword(myModel2.changePassword, myModel2.oldPassword)" class="btn btn-primary" ng-disabled="(myModel2.changePassword != myModel2.changePasswordConfirm) || (myModel2.oldPassword == null || myModel2.changePassword == null || myModel2.changePasswordConfirm == null)">Save</button>
            <a href="/#/myProfile/description"><button type="button" class="btn">Cancel</button></a>
        </div>
    </form>
</div>