<div class="uprofile-content padding-top-30" >

    <h4>Biography:</h4>
    <p>{{userDetails.Biography}}</p>
    <div class="clearfix"></div>
    <hr>
    <h4>Brief:</h4>
    <p>{{userDetails.Brief}}</p>
    <div class="clearfix"></div>
    <hr>
    <h4>Education:</h4>
    <ul>
        <li>{{userDetails.Education}}</li>
    </ul>
    <div class="clearfix"></div>
    <hr>
    <h4>Experience:</h4>
    <ul>
        <li>{{userDetails.Experience}}</li>
    </ul>
    <div class="clearfix"></div>
    <hr>
    <h4>Accomplishments:</h4>
    <ul>
        <li>{{userDetails.Accomplishments}}</li>
    </ul>
    <div class="clearfix"></div>
    <hr>
    <h4>Membership:</h4>
    <ul>
        <li>{{userDetails.Membership}}</li>
    </ul>
    <div class="clearfix"></div>
    <hr>
    <div class="clearfix"></div>

</div>