<section class="content"  ng-controller="clinicalAssessmentCtrl">
    <div ng-if="loader">
        <div class="loader">
        </div>
    </div>
    <div class="row marginTop" ng-show="noPatientClinicalAssessmentDataFoundRoot">
        <div class="col-sm-3" id="clinicalText">
            <input type="text" id="searchClinical" class="margin-bottom-10 text-left col-md-6 ng-pristine ng-valid ng-empty ng-touched" placeholder="Search ..." ng-model="searchpatientclinicalAssessment" ng-keypress="($event.which === 13)?clinicalAssessment(startAssessment,endAssessment,searchpatientclinicalAssessment):0">
        </div>
        <div class="col-sm-6">
            <div class="form-control">
                <div class="dpMain">
                    <div class="start-date">
                        <input type="text" id="clinicalStart" ng-focus="startOpened = true; endOpened = false;" ng-click="startOpen($event)" show-button-bar="false" close-text="Close" ng-required="true" m ax-date="end" min-date="'1970-12-31'" is-open="startOpened" show-weeks="false" ng-model="startAssessment" uib-datepicker-popup="MM/dd/yyyy" placeholder="Start date...">
                    </div>
                    <div class="todate">
                        <span class="input-group-addon">To</span>
                    </div>
                    <div class="end-date">
                        <input type="text" id="clinicalEnd" ng-focus="endOpened = true; startOpened = false" ng-click="endOpen($event)" close-text="Close" ng-required="true" max-date="maxDate" show-button-bar="false" min-date="start" is-open="endOpened" show-weeks="false" ng-model="endAssessment" uib-datepicker-popup="MM/dd/yyyy" placeholder="End date...">
                    </div>
                </div>
            </div>
        </div>
        <div >
            <button ng-click="clinicalAssessment(startAssessment, endAssessment, searchpatientclinicalAssessment)" class="btn btn-primary relative-sbtn" type="button">
                Search
                <span  class="search-patienttextmsg">{{assessmentCount}}</span>
            </button>&nbsp;
            <button type="button" id="clear" name="clear" class="btn btn-primary clear-margin" ng-click="searchpatientclinicalAssessment = ''; startAssessment = ''; endAssessment = ''; clinicalAssessment('', '', '')">
                Clear
            </button>
            <div class="search-count">
            </div>
        </div>
    </div>
    <div class="row" ng-show="noPatientClinicalAssessmentDataFound">
        <div class="col-xs-12">
            <h4 class="noResult">No results found.</h4>
        </div>
    </div>
    <div class="row" ng-show="PatientClinicalAssessmentDataFound">
        <div class="col-xs-12 table-responsive">
            <table ng-table="patientclinicalAssessmentDatasTableConfig"
                   class="table table-striped">
                <tr ng-repeat="patientclinicalAssessment in $data">
                    <td data-title="'When Occurred Date'" sortable="'WhenOccurred'">
                        {{patientclinicalAssessment.WhenOccurred| date:'MM/dd/yyyy'}}
                    </td>
                    <td data-title="'SOC Sub Category'" sortable="'SOCSubCategory'">
                        {{patientclinicalAssessment.SOCSubCategory}}
                    </td>
                    <td data-title="'Short Description'" sortable="'ShortDescription'">
                        {{patientclinicalAssessment.ShortDescription}}
                    </td>
                    <td data-title="'Status'" sortable="'Status'">
                        {{patientclinicalAssessment.Status}}
                    </td>
                    <td data-title="'Source Name'" sortable="'DBName'">
                        {{patientclinicalAssessment.DBName}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>