<section class="content"  ng-controller="patientPayerCtrl">
    <div ng-if="loader">
        <div class="loader">
        </div>
    </div>
    <div class="row" ng-show="noPatientPayerDataFoundRoot" >
        <div class="col-sm-3" id="payerText">
            <input id="searchPayer" type="text" class="margin-bottom-10 text-left col-md-6" placeholder="Search ..." ng-model="searchPayers" ng-keypress="($event.which === 13)?GetPatientPayer(startPayer,endPayer,searchPayers):0">
        </div>
        <div class="col-sm-6">
            <div class="form-control">
                <div class="dpMain">
                    <div class="start-date">
                        <input type="text" id="startPayerId" ng-focus="startOpened = true; endOpened = false;" ng-click="startOpen($event)" show-button-bar="false" close-text="Close" ng-required="true" max-date="end" min-date="'1970-12-31'" is-open="startOpened" show-weeks="false" ng-model="startPayer" uib-datepicker-popup="MM/dd/yyyy" placeholder="Start date...">
                    </div>
                    <div class="todate">
                        <span class="input-group-addon">To</span>
                    </div>
                    <div class="end-date">
                        <input type="text" id="endPayerId" ng-focus="endOpened = true; startOpened = false" ng-click="endOpen($event)" close-text="Close" ng-required="true" max-date="maxDate" show-button-bar="false" min-date="start" is-open="endOpened" show-weeks="false" ng-model="endPayer" uib-datepicker-popup="MM/dd/yyyy" placeholder="End date...">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button ng-click="GetPatientPayer(startPayer, endPayer, searchPayers)" class="btn btn-primary relative-sbtn " type="button">
                Search
                <span  class="search-patienttextmsg">{{payerCount}}</span>
            </button>&nbsp;
            <button type="button" id="clear" name="clear" class="btn btn-primary clear-margin" ng-click="searchPayers = ''; startPayer = ''; endPayer = ''; GetPatientPayer('', '', '')">Clear</button>
        </div>
    </div>
    <div class="row" ng-show="noPatientPayerDataFound">
        <div class="col-xs-12" >
            <h4 class="noResult">No results found.</h4>
        </div>
    </div>
    <div class="row" ng-show="PatientPayerDataFound">
        <div class="col-xs-12 table-responsive">
            <table ng-table="payersTableConfig"
                   class="table table-striped">
                <tr ng-repeat="payer in $data">
                    <td data-title="'Begin Date'" sortable="'BeginDate'">
                        {{payer.BeginDate| date:'MM/dd/yyyy '}}
                    </td>
                    <td data-title="'End Date'" sortable="'EndDate'">
                        {{payer.EndDate| date: 'MM/dd/yyyy '}}
                    </td>
                    <td data-title="'Payer Type Name'" sortable="'PayerTypeName'">
                        {{payer.PayerTypeName}}
                    </td>
                    <td data-title="'Payer Name'" sortable="'PayerName'">
                        {{payer.PayerName}}
                    </td>
                    <td data-title="'Facility Name'" sortable="'FacilityName'">
                        {{payer.FacilityName}}
                    </td>
                    <td data-title="'DB Name'" sortable="'DBName'">
                        {{payer.DBName}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>